.table {
  height: 6.4rem;
  width: 100rem;
  margin-top: 2.4rem;
  border-bottom: 0.1rem solid var(--border-grey);
  border-top: 0.1rem solid var(--border-grey);
  display: flex;
  flex-direction: column;

  > .table_titles {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: var(--dark);
    font-weight: bolder;
    padding-top: 1.9rem;
    > .title_name,
    .title_fathername,
    .title_mothername {
      width: 12%;
      font-size: 1.3rem;
    }

    .title_email {
      width: 17%;
      font-size: 1.3rem;
    }
    .title_rol {
      width: 12%;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
    }

    //     display: flex;
    // align-items: center;
    // justify-content: center;
    > .title_drag,
    .title_picture {
      width: 10%;
    }

    .title_status {
      width: 5%;
    }
    > .title_actions {
      width: 10%;
    }
  }
}

.value {
  height: auto;
  width: 100%;
  background-color: white;
  border-bottom: 0.1rem solid var(--border-grey);
  display: flex;
  font-size: 1.4rem;
  justify-content: space-evenly;
  > .fa-grip-vertical {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--border-grey);
  }
  .picture_wraper {
    width: 10%;
    > .picture {
      width: 4rem;
      height: 4rem;
      border-radius: 15rem;
      margin-top: 1rem;
    }
  }

  .name,
  .fathername,
  .mothername {
    width: 12%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: normal;
  }

  .email {
    width: 17%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-overflow: ellipsis;
    overflow: auto;
    white-space: nowrap;
    margin-right: 1rem;
  }

  .role {
    width: 12%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .toggle {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  > .action-buttons {
    width: 10%;
    display: flex;
    padding-top: 0.35rem;
    padding-left: 2rem;
  }

  .fa-toggle-on {
    font-size: 2rem;
    color: var(--blue-toggle);
  }

  .fa-toggle-off {
    font-size: 2rem;
    color: var(--blue-toggle);
  }

  .fa-trash {
    padding-top: 2rem;
    color: red;
  }
  .fa-edit {
    padding-top: 2rem;
    color: var(--orange);
    padding-right: 1rem;
  }
}
