<div class="table">
  <div class="table_titles">
    <div class="title_drag"></div>
    <div class="title_picture">Foto</div>
    <div class="title_name">Nombre</div>
    <div class="title_fathername">Apellido Paterno</div>
    <div class="title_mothername">Apellido Materno</div>
    <div class="title_email">Correo</div>
    <div class="title_rol">Rol</div>
    <div class="title_status">Status</div>
    <div class="title_actions"></div>
  </div>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="
        let user of users
          | orderlist: orderAsc
          | status: filterStatus
          | search: search
          | paginator: pageSize:pageNumber
      "
      cdkDrag
    >
      <div class="value">
        <div class="fas fa-grip-vertical"></div>
        <div class="picture_wraper">
          <img src="{{ user.picture }}" alt="foto_perfil" class="picture" />
        </div>
        <div class="name">
          {{ user.name }}
        </div>
        <div class="fathername">
          {{ user.fathersLastName }}
        </div>
        <div class="mothername">
          {{ user.mothersLastName }}
        </div>
        <div class="email">
          {{ user.email }}
        </div>
        <div class="role">
          {{ user.roleName }}
        </div>
        <div class="toggle">
          <div *ngIf="user.active" class="fas fa-toggle-on"></div>
          <div *ngIf="!user.active" class="fas fa-toggle-off"></div>
        </div>
        <div class="action-buttons">
          <div class="fas fa-edit"></div>
          <div class="fas fa-trash"></div>
        </div>
      </div>
    </div>
    <mat-paginator
      [length]="users.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 15]"
      (page)="handlePage($event)"
    >
    </mat-paginator>
  </div>
</div>
