/* You can add global styles to this file, and also import other style files */
:root {
  --soft-grey: #e9e9e9;
  --grey: #6b6b6b;
  --dark: #131b31;
  --orange: #fa6a00;
  --shadow-grey: #f9f9f9;
  --border-grey: #e9e9e9;
  --blue-toggle: #677fac;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background-color: var(--soft-grey);
  color: var(--grey);
}

body {
  font-size: 1.6rem;
  font-family: "Circular Std Book";
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
